/*main body styles*/

body
{
    display: block;
    font-family:'Times New Roman', Times, serif sans-serif;
    margin: 0;
    padding: 0;
    background-color: #010101;
}

/*header styles*/
header {
    background-color: #010101;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

#header-section {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-bottom: 20px;
    padding: 20px;
}

#my-image, #nav-bar, .contact-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin:auto;
    padding: 10px;
}
/*image styles*/
#craigsinnott {
    display: flex;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid #000000;
    margin-bottom: 10px;
    box-shadow:
        0 0 6px #00f4fc,
        0 0 16px #00f4fc,
        0 0 30px rgb(0, 244, 252);
    filter: drop-shadow(0 0 6px #00f4fc) blur(0.2px);
}

#craigsinnott:hover {
    box-shadow:
        0 0 6px #f8fc00,
        0 0 16px #f8fc00,
        0 0 30px #f8fc00;
    filter: drop-shadow(0 0 6px #f8fc00) blur(0.2px);
}
/*navigation styles*/
nav {
    padding: 10px 0;
    text-align: center;
} 
nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1em;
} 

#header-section div button p {
    color: #000000;
    margin: 0;
    padding: 0;
}
nav a:hover {
    text-decoration: underline;
}